*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!system/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

public/Suratkeluar/*
!public/Suratkeluar/.gitkeep
public/Suratmasuk/*
!public/Suratmasuk/.gitkeep
public/Pengajuansurat/*
!public/Pengajuansurat/.gitkeep

writable/debugbar/*
!writable/debugbar/.gitkeep


#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/